In [ ]:
#Create a python program to sort the given list of tuples based on integer value using a
#lambda function.

In [56]:
y=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [57]:
z=lambda x: (j for i in x for j in i if type(j)==int)

In [58]:
list(z(y))

[34357, 27483, 25534, 24936]

In [ ]:
#a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.

In [60]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions

In [30]:
k=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
j=map(lambda x:str(x),k)

In [32]:
tuple(j)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [33]:
#program using reduce function to compute the product of a list containing numbers
#from 1 to 25.

In [8]:
x=list(range(1,26))

In [9]:
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [10]:
from functools import reduce
y= reduce(lambda z,a:z*a,x)

In [11]:
y

15511210043330985984000000

In [13]:
#python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.

In [1]:
y=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [24]:
y

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [25]:
list(filter (lambda x: x%2==0 or x%3==0,y))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [1]:
#a python program to find palindromes in the given list of strings using lambda and filter
#function.

In [11]:
m=['python', 'php', 'aba', 'radar', 'level']

In [19]:
list(filter(lambda x: x==x[::-1],m))

['php', 'aba', 'radar', 'level']